<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Second page</h1>
    <p> Post 형식으로 데이터 보내기 </p>
    <form action="/data" method="post">
        <input type="radio" name="use" value="바위">바위
        <input type="radio" name="use" value="가위">가위
        <input type="radio" name="use" value="보">보<br>
        <input type="submit">
    </form>
</body>
</html>